<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/static/css/style.css">
  <link rel="stylesheet" type="text/css" href="/static/css/d3ChartStyles.css">
  <link rel="stylesheet" type="text/css" href="/static/css/d3_timeseries.min.css">
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css">

  <title>Atlanta Real Estate Market</title>
</head>
<!-----CREATE NAVIGATION BAR--------------------------------------------------->
<!----------------------------------------------------------------------------->    
<!-----------------------------------------------------------------------------> 
<body data-aos-easing="ease" data-aos-duration="400" data-aos-delay="0">
  <nav class="navbar navbar-expand-lg navbar-light bg-dark pt-3 pb-4">
  <a class="navbar-brand" href="/">Atlanta Real Estate</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item ml-4">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item ml-4">
        <a class="nav-link" href="/static/data">Charts</a>
      </li>
      <li class="nav-item ml-4">
        <a class="nav-link" href="/static/data">Comparison</a>
      </li>
      <li class="nav-item ml-4">
        <a class="nav-link" href="/static/data">Data</a>
      </li>
      <li class="nav-item ml-4">
        <a class="nav-link" href="/map" target="_blank">Map</a>
      </li>
    </ul>
  </div>
</nav>
<!--------------------------------------End of NAV Bar----------------------------------->
<!--------------------------------------------------------------------------------------->
<!--Create the Container --------------------------------------------------------->
<div class="container">
    <div class="row">
      <div class="col-lg-7 col-md-12">
        <div class="box">
        <h1> Restaurants </h1>
        <hr>
        <div class='row'>
          <img src="assets/images/Fig2.png" alt="Humidity image" class="mr-3 img-fluid" style="width: auto; height: 300px;">
          <p class="lead">
            "Humidity does not have a correlation to latitude. So we cannot determine a pattern between humidity and latitude."
          </p>
      </div>
    </div>
  </div>

  <!-----------------Create a Footer------------------------->
<!--------------------------------------------------------->
<br>
<footer class="footer navbar fixed-bottom float-lg-center">
  <div class="row border-top">
    <div class="col-lg-12">
      <ul class="list-unstyled">
        <li >&copy; Team Atlanta Real Estate © 2020 </a>
          <a href="#top">Back to top</a>
        </li>
      </ul>
    </div>
  </div>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


</body>
</html>